# Dependencies
node_modules/

# Build output
out/
dist/

# VS Code testing folder
.vscode-test/

# Extension packages
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code project settings (оставляем только нужные)
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Coverage reports
coverage/
